RN2483Temperature/node-red-setup.txt
[{"id":"d36fe24b.fb346","type":"mqtt in","z":"a7720cd4.d28c5","name":"TTN","topic":"<appeui>/devices/<deveui>/up","qos":"2","broker":"932925b9.5f1b78","x":183,"y":384,"wires":[["8b01fa11.462218","2ffffb1d.8ad624"]]},{"id":"19289bc4.bd1344","type":"binary","z":"a7720cd4.d28c5","name":"Binary Decoder","pattern":"b32f => temp","x":696.7222290039062,"y":217.4444580078125,"wires":[["7a371713.5cb6a8","daca3498.ffa1f8"]]},{"id":"480eb5ff.b232bc","type":"mqtt out","z":"a7720cd4.d28c5","name":"","topic":"GOST/Datastreams(30)/Observations","qos":"2","retain":"","broker":"4e873026.fc342","x":1074.7223510742188,"y":242.4444580078125,"wires":[]},{"id":"7a371713.5cb6a8","type":"function","z":"a7720cd4.d28c5","name":"OGCSensorThings","func":"function ISODateString(d){\n function pad(n){return n<10 ? '0'+n : n;}\n return d.getUTCFullYear()+'-'+ pad(d.getUTCMonth()+1)+'-' + pad(d.getUTCDate())+'T'+ pad(d.getUTCHours())+':'+ pad(d.getUTCMinutes())+':'+ pad(d.getUTCSeconds())+'Z';\n    \n}\n\nvar d = new Date();\n\nreturn {\"payload\": {\"result\": msg.payload.temp, \n        \"phenomenonTime\": ISODateString(d)}};","outputs":1,"noerr":0,"x":990.7222747802734,"y":392.4444522857666,"wires":[["480eb5ff.b232bc","28033843.aa9308"]]},{"id":"daca3498.ffa1f8","type":"debug","z":"a7720cd4.d28c5","name":"BinaryMSG","active":true,"console":"false","complete":"true","x":730.7222290039062,"y":636.4445495605469,"wires":[]},{"id":"8b01fa11.462218","type":"function","z":"a7720cd4.d28c5","name":"Base64 decode","func":"msg.payload = JSON.parse(msg.payload)\nnode.log(msg);\nb = Buffer.from(msg.payload.payload, 'base64');\nmsg.payload = b\nreturn msg;","outputs":1,"noerr":0,"x":413.22216796875,"y":278.4444522857666,"wires":[["29eb30ec.12dd2","19289bc4.bd1344"]]},{"id":"29eb30ec.12dd2","type":"debug","z":"a7720cd4.d28c5","name":"Base64MSG","active":true,"console":"false","complete":"true","x":468.1180725097656,"y":659.2222232818604,"wires":[]},{"id":"2ffffb1d.8ad624","type":"debug","z":"a7720cd4.d28c5","name":"OGC","active":true,"console":"false","complete":"true","x":284.1181106567383,"y":654.2222232818604,"wires":[]},{"id":"28033843.aa9308","type":"debug","z":"a7720cd4.d28c5","name":"OGCMSG","active":true,"console":"false","complete":"true","x":971.1180419921875,"y":625.2222232818604,"wires":[]},{"id":"932925b9.5f1b78","type":"mqtt-broker","z":"a7720cd4.d28c5","broker":"staging.thethingsnetwork.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4e873026.fc342","type":"mqtt-broker","z":"a7720cd4.d28c5","broker":"gost.geodan.nl","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
