NodeMCU-ST-MQTT/node-red-setup.txt
[{"id":"b43be325.a0703","type":"mqtt in","z":"a7720cd4.d28c5","name":"gost","topic":"binary","qos":"2","broker":"4e873026.fc342","x":336.7777404785156,"y":183.5555419921875,"wires":[["ed377e47.6fc32","f78f5354.79a08"]]},{"id":"ed377e47.6fc32","type":"binary","z":"a7720cd4.d28c5","name":"Binary Decoder","pattern":"b16 => length, b8 => name","x":501.5,"y":181,"wires":[["911cb4af.18ead8","f78f5354.79a08"]]},{"id":"c407fd69.1b176","type":"mqtt out","z":"a7720cd4.d28c5","name":"","topic":"GOST/Datastreams(27)/Observations","qos":"2","retain":"","broker":"4e873026.fc342","x":1052.5,"y":176,"wires":[]},{"id":"911cb4af.18ead8","type":"function","z":"a7720cd4.d28c5","name":"OGCSensorThings","func":"function ISODateString(d){\n function pad(n){return n<10 ? '0'+n : n;}\n return d.getUTCFullYear()+'-'+ pad(d.getUTCMonth()+1)+'-' + pad(d.getUTCDate())+'T'+ pad(d.getUTCHours())+':'+ pad(d.getUTCMinutes())+':'+ pad(d.getUTCSeconds())+'Z';\n    \n}\n\nvar d = new Date();\n\nreturn {\"payload\": {\"result\": msg.payload.name, \n        \"phenomenonTime\": ISODateString(d)}};","outputs":1,"noerr":0,"x":695.5,"y":179,"wires":[["c407fd69.1b176","f78f5354.79a08"]]},{"id":"f78f5354.79a08","type":"debug","z":"a7720cd4.d28c5","name":"","active":true,"console":"false","complete":"false","x":465.5,"y":314,"wires":[]},{"id":"4e873026.fc342","type":"mqtt-broker","z":"a7720cd4.d28c5","broker":"gost.geodan.nl","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
